body {
  padding-top: 50px;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.glyphicon-refresh-animate {
    font-size: 36px;
    -animation: spin 1s infinite linear;
    -webkit-animation: spinwebkit 1s infinite linear;
    color: #999;
}

@-webkit-keyframes spinwebkit {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
