{% extends "layout.html" %}

{% block body %}
  <div class="page-header">
    <h1 class="document-title">
      No document loaded.
      <small>
        Enter a document id in the search box or
        <a href="#json" class="cached-json">load the Cached Example</a>.
      </small>
    </h1>
  </div>
  <div id="vis"></div>
  <div id="logo" class="text-center">
    <img src="/logo.png" alt="CiteNet Logo" />
  </div>
  <div id="about" class="text-center">
    <iframe src="https://mdo.github.io/github-buttons/github-btn.html?user=citenet&repo=citenet&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
  </div>
{% endblock %}
