<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>CiteNet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/vendor/bootstrap.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <!--[if lt IE 8]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Cite<span class="blue">Net</span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#json" class="cached-json">Load Cached Example</a></li>
        </ul>

        <div class="col-sm-3 col-md-3">
          <form class="navbar-form" role="search" action="papers" method="post" id="document-search-form">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Document ID" name="id">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
          </div>
          </form>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div><!--/.navbar -->

  <section class="container">
    {% block body %}{% endblock %} <!-- Content get's added here -->
  </section>

  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
  <script src="/vendor/d3.min.js"></script>
  <script src="/vendor/d3-tip.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
